body {
    background-color: #f5f5f5;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header */
.header {
    background-color: #011e29;
    color: white;
    text-align: center;
    padding: 25px 0;
}

/* Container (3 column layout) */
.container {
    display: flex;
    justify-content: space-around;
    margin: 40px 20px;
}

/* White rounded cards */
.card {
    background-color: white;
    width: 28%;
    padding: 20px;
    border-radius: 18px;
    text-align: center;
}

.pictorial-news-section {
    background-color: white;
    width: 28%;
    padding: 20px;
    border-radius: 18px;
    text-align: center;
}

.latest-news-section {
    background-color: white;
    width: 28%;
    padding: 20px;
    border-radius: 18px;
    text-align: center;
}
